body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.timer {
    font-size: 48px;
    margin: 20px;
}
#scramble {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 30px;
}
/* Navbar styles */
nav {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar is on top of other content */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures the footer is on top of other content */
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 50px; /* Adjust this value based on your footer height */
    font-family: Arial, sans-serif; /* Optional: Set a default font for your site */
    overflow: hidden; /* Prevents scrolling */
}

footer {
    padding: 5px;
    text-align: center;
    border-top: 1px solid #dee2e6;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left {
    margin: 0;
}

.footer-right a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-right a:hover {
    text-decoration: underline;
}

.flash.danger {
    color: red;
    background-color: #fdd;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
}

.flash.success {
    color: green;
    background-color: #dff0d8;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
}