<footer>
    <div class="footer-content">
        <p class="footer-left">
            © 2024 Franklin's Timer. All rights reserved.
        </p>
        <p class="footer-right">
            My socials:
            <a class="footer-link" href="https://www.youtube.com/@Franklin_Yuan" target="_blank">YouTube</a> |
            <a class="footer-link" href="https://github.com/FranklinYuanCHCH" target="_blank">GitHub</a> |
            <a class="footer-link" href="https://www.worldcubeassociation.org/persons/2022YUAN07" target="_blank">WCA</a>
        </p>
    </div>
</footer>