<!DOCTYPE html>
<html lang="en" class="no-scroll">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home - Franklin's Timer</title>
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        <h1>Welcome to Franklin's Timer</h1>
        <a href="https://www.youtube.com/watch?v=-m1rMgNj4Vs">Watch my Roux Method One-Handed Tips</a><br>
        <a href="https://blogs.mtdv.me/watch?v=honerable_mention">Honerable Mention</a>
    </main>
    {% include 'footer.html' %}
</body>
</html>