<!DOCTYPE html>
<html lang="en" class="no-scroll">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Franklin's Timer</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/icon.png" type="image/png">
</head>
<body>
    {% include 'navbar.html' %}
    <main class="login-style">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ messages[-1][1] }}</div>  <!-- Only display the latest message -->
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="box">
            <br>
            <h1>Register</h1>
            <form action="{{ url_for('register') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
                <br>
                <button class="update-input" type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="{{ url_for('login') }}">Log in here</a></p>
            <br>
        </div>  <!-- box -->
    </main>
    {% include 'footer.html' %}
</body>
</html>